<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinBookStationaryStock19.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WinBookStationaryStock19.Properties.Settings>
            <setting name="ProjectName" serializeAs="String">
                <value>Book and Stationary Stock Management System</value>
            </setting>
            <setting name="DesignedDvelopedBy" serializeAs="String">
                <value>Mr. Mark Zuckerberg
Mr. Sundar Pichai
Mr. Bill Gates</value>
            </setting>
            <setting name="ConnestionStringFull" serializeAs="String">
                <value>Server=.\\sqlexpress19;Database=BookStationaryStockDB;User Id=sa;Password=sqlexpress@19;</value>
            </setting>
            <setting name="ConnestionStringShort" serializeAs="String">
                <value>Server=.\\sqlexpress19;Database=BookStationaryStockDB;Integrated Security=True;</value>
            </setting>
            <setting name="ShopId" serializeAs="String">
                <value>1</value>
            </setting>
        </WinBookStationaryStock19.Properties.Settings>
    </userSettings>
</configuration>